@using Microsoft.AspNetCore.Http
<header>
    <nav class="navbar navbar-expand-lg navbar-light nav-bg-colour" style='position:sticky;top:0;z-index:100;'>
        <div class="container-fluid">
            <a class="navbar-brand text-white fs-3 bolder" asp-area="" asp-controller="Home" asp-action="Index">DDAC_Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="ms-3 navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item p-2 ">
                        <a class="nav-link text-white @(ViewBag.Url == "Home" ? "nav-active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                </ul>

                @if (Context.Session.GetInt32("userId") != null)
                {
                    <a class="btn btn-danger text-white btn-outline-danger" asp-controller="Home" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="btn btn-primary m-2 btn-outline-light" asp-controller="Auth" asp-action="Login">Login</a>
                    <a class="btn btn-primary m-2 btn-outline-light" asp-controller="Auth" asp-action="Register">Register</a>
                }

            </div>
        </div>
    </nav>
</header>