@using Microsoft.AspNetCore.Http
<header>
    <nav class="navbar navbar-expand-lg navbar-light border border-2 nav-bg-colour" style='position:sticky;top:0;z-index:100;'>
        <div class="container-fluid">
            <a class="navbar-brand text-white fs-3 bolder" asp-area="" asp-controller="Home" asp-action="Index">DDAC_Project (Admin)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="ms-3 navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item p-2 ">
                        <a class="nav-link text-white  @(ViewBag.Url == "Home" ? "nav-active" : "")" asp-area="" asp-controller="Admin" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item p-2 ">
                        <a class="nav-link text-white  @(ViewBag.Url == "Albums" ? "nav-active" : "")" href="/admin/album/search">Albums</a>
                    </li>
                    <li class="nav-item p-2 ">
                        <a class="nav-link text-white  @(ViewBag.Url == "Staff" ? "nav-active" : "")" asp-area="" asp-controller="Staff" asp-action="Search">Staff</a>
                    </li>
                    <li class="nav-item p-2 dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Profile">Manage Profile</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Password">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="nav-item p-2 ">

                    </li>
                </ul>


                @if (Context.Session.GetInt32("userId") != null)
                {
                    <a class="btn btn-danger text-white btn-outline-danger" asp-controller="Home" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="btn btn-primary m-2 btn-outline-light" asp-controller="Auth" asp-action="Login">Login</a>
                    <a class="btn btn-primary m-2 btn-outline-light" asp-controller="Auth" asp-action="Register">Register</a>
                }

            </div>
        </div>
    </nav>
</header>